## Oracle Database

In [42]:
#Import Library
import cx_Oracle

In [50]:
# Connection
conn = cx_Oracle.connect('SYSTEM/0000@localhost:1521/XE')
conn

In [22]:
# Cursor to Excute Queries
cursor = conn.cursor()

In [55]:
# Excute Query (Create Table)
cursor.execute("create table test_tbl (id INT,first_name VARCHAR(50),last_name VARCHAR(50),email VARCHAR(50), gender VARCHAR(50))")

In [184]:
# Excute Query (Insert into Table)
cursor.execute("insert into test_tbl (id, first_name, last_name, email, gender) values (1, 'Court', 'Laise', 'claise0@sitemeter.com', 'Male')")

In [185]:
# Excute Query (Fetch Data)
result = cursor.execute(" SELECT * FROM test_tbl")

In [186]:
# Fetch All Rows
result.fetchall()

[(1, 'Court', 'Laise', 'claise0@sitemeter.com', 'Male')]

In [187]:
# Fetch Single Row
result.fetchone()

In [188]:
# Fetch Many
result.fetchmany(2)

[]

In [193]:
# Delete Row
cursor.execute("DELETE FROM test_tbl")